source/.phpunit.cache
source/node_modules
source/public/build
source/public/hot
source/public/storage
source/storage/*.key
source/vendor
source/.env
source/.env.backup
source/.env.production
source/.phpactor.json
source/.phpunit.result.cache
source/Homestead.json
source/Homestead.yaml
source/auth.json
source/npm-debug.log
source/yarn-error.log
source/.fleet
source/.idea
source/.vscode
/crawl